.banner-container {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  text-align: center;
  padding: 160px 15px;
  align-content: center;
  box-shadow: inset 0 0 0 2000px #1c1c1c7a;
}
#search-form {
  width: 400px;
  margin: auto 40%;
}
.city-heading {
  font-size: 100;
  color: black;
}
.page-container {
  text-align: center;
}
.city {
  width: 25%;
}
.city-card-rounded-circle {
  max-width: 80%;
}
.row {
  display: flex;
  flex-direction: row;
  margin: 10px 20%;
}
.city-img {
  max-width: 100%;
  background-color: rgb(162, 255, 139);
  border: 3px solid rgb(21, 167, 106);
  border-radius: 50%;
}
.footer-cities {
  display: inline;
}
